@model Finca.Web.Models.PalpationViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Crear Nueva Palpacion</h2>

<h3>Animal #: @Model.Animal.NumeroFinca</h3>
<hr />
<h4>@ViewBag.Error</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPalpation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnimalId" />
            <div class="form-group">
                <label asp-for="Vets" class="control-label"></label>
                <select asp-for="VeterinarioId" asp-items="Model.Vets" class="form-control"></select>
                <span asp-validation-for="VeterinarioId" class="text-danger"></span>
            </div>
            <partial name="_Palpation" />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.AnimalId" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i>Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
