@model Finca.Web.Data.Entities.TypeAnimalEntity

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta Seguro de eliminar este tipo?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger"  />
        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i>Volver</a>
    </form>
</div>
